p{
	color: black;
	font-weight: bold;
}

body{
	background-color: #191919;
	margin: 0 auto;
}

#programs_list{
	list-style: none;
}

li{
	background-color: rgba(255,127,80,0.7);
	padding-top: 7px;
	margin-bottom: 3px;

-webkit-box-shadow: 3px -3px 5px -1px rgba(255,127,80,0.3);
-moz-box-shadow: 3px -3px 5px -1px rgba(255,127,80,0.3);
box-shadow: 3px -3px 5px -1px rgba(255,127,80,0.3);
}

#content{
	margin-top: 17em;
}

a{
	color: white;
}

i{
	color: white;
}

span.stop{
	margin-left: 20px;
}

.link-to-show{
	font-size: 1.1rem;
}