<!doctype html>
<html ng-app="playerApp">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		
		<script src="js/main.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/PlayerController.js"></script>
		<script src="js/controllers/RelatedController.js"></script>

		<!-- Services -->
		<script src="js/services/npr-service.js"></script>
		<script src="js/services/audio-service.js"></script>
		<script src="js/services/player-service.js"></script>

		<script src="js/directives/nprLink.js"></script>
	</head>
	<body>
		<div ng-controller="PlayerController" class="row">
			<div class="container">
				<div class="col-md-9 col-md-offset-1" id="content">
					<h1 class="text-center">Science Friday</h1>
					<ul id="programs_list" class="">
					  <li ng-repeat="program in shows">
					    <span npr-link play='player.play(program)' stop='player.stop(program)' ng-model="program"></span>
					  </li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-controller="RelatedController" class="row">
			<div class="container">
				<div class="col-md-9 col-md-offset-2">
					<h3 id="related-header">Related content</h3>
				    <ul id="related">
				    	<li ng-repeat="s in related"><a href="{{ s.link }}">{{ s.caption }}</a></li>
				    </ul>
			    </div>
		    </div>
		</div>
	</body>
</html>