<!doctype html>
<html ng-app="playerApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		<div ng-controller="PlayerController">
			<!-- {{ programs }} -->
			<ul id="programs_list" class="">
			  <li ng-repeat="program in programs" ng-click="play(program)">
			    <span class="large-12">{{ program.title.$text }}</span>
			  </li>
			</ul>
			<button ng-click="play()" class="button" ng-show="!playing">Play</button>
			<button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>	
			<p>Playing audio: <b>{{ playing }}</b></p>		
		</div>
	</body>
</html>