<!doctype html>
<html ng-app="playerApp">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/directives/nprLink.js"></script>
	</head>
	<body>
		<div ng-controller="PlayerController" class="row">
			<div class="container">
				<div class="col-md-8 col-md-offset-2" id="content">
					<!-- {{ programs }} -->
					<ul id="programs_list" class="">
					  <li ng-repeat="program in programs">
					    <!-- <span class="large-12">{{ program.title.$text }}</span> -->
					    <span npr-link play='play(program)' ng-model="program"></span>
					  </li>
					</ul>
					<button ng-click="play()" class="button" ng-show="!playing">Play</button>
					<button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>	
					<p>Playing audio: <b>{{ playing }}</b></p>		
				</div>
			</div>
		</div>
	</body>
</html>